* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: inherit;
}

body {
    background-image: url(../img/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#form_heading {
    width: 100%;
    display: block;
    font-family: Montserrat-Medium;
    font-size: 39px;
    color: #555;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 30px;
}

span {
    display: block;
}

.userInput {
    position: relative;
    width: 100%;
    font-size: larger;
    padding-left: 1.5rem;
    line-height: 1.3cm;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin: 1rem auto;
}

#form {
    width: 45vw;
    position: relative;
    margin: 15vh auto;
    background-color: #fff;
    padding: 8vh 8vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#input_submit {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#sup-link {
    text-align: center;
}

@media screen and (max-width: 630px) {
    button {
        display: block;
    }
    #form {
        width: 90vw;
    }
}